{% include 'head.html' %}
<div>
  <nav class="level" style="padding: 2% 5% 0%;">

    <div class="level-item has-text-centered">
      <form style="width: 400px;" action="/" method="get">
      <div>
        <div class="field has-addons">
          <span class="control">
            <input class="input" type="text" name="search" placeholder="find a movie or person" size="30">
          </span>
          <span class="control">
            <input type="submit" class="button is-primary" value="search">
          </span>
        </div>
      </div>
      </form>
    </div>

    <div class="level-item has-text-centered">
      <h1 class="title is-1" style="width: 400px;">
        <a href="/">mflix</a>
      </h1>
    </div>

    <div class="level-item has-text-centered">
      <div class="inline-block" style="width: 400px;">
        {% if not current_user.is_authenticated %}
        <a class="button is-inverted is-info" href="{{ url_for('login') }}">log in</a>
        <a class="button is-primary" href="{{ url_for('signup') }}">sign up</a>
        {% else %}
        <a class="button is-primary" href="{{ url_for('profile') }}">{{ current_user.first_name.lower() }}</a>
        <a class="button" href="{{ url_for('logout') }}">log out</a>
        {% endif %}
      </div>
    </div>

  </nav>
  <hr/>
  <div style="padding: 2% 5%;">
    {% block body %}{% endblock %}
  </div>
</div>