{% extends "header.html" %}
{% block body %}
{% if movie %}
<div class="content">

  {% if movie.comments %}
  <h1>all {{ movie.num_mflix_comments }} comments for <a href="/movies/{{ movie["_id"] }}">{{ movie["title"] }}</a></h1>
  {% include "partials/moviebasicinfo.html" %}
  <hr/>

  {% include "partials/commentsform.html" %}

  <hr/>

  {% set comments = older_comments %}
  {% include "partials/commentslist.html" %}

  {% else %}

  <h1>no comments yet for <a href="/movies/{{ movie["_id"] }}">{{ movie["title"] }}</a></h1>
  {% include "partials/commentsform.html" %}

  {% endif %}

</div>
{% else %}
{% include "partials/nomoviefound.html" %}
{% endif %}
{% endblock %}
